<div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/processing.js/1.4.8/processing.min.js" type="text/javascript"></script>
    <h2>Processing.js</h2>
    <p>
        Utilisation de coordonnées se trouvant uniquement aux intersections des cercles. Vous pouvez déplacer les points sur la grille, la légende correspond au coordonnées cartésiennes calculées.
    </p>
    <p>
        Il est possible de visualiser les points correspondants aux intersections ainsi que la grille des cercles.Appuyez sur d pour afficher les points et g pour afficher la grille.
    </p>
        <canvas id="Triangulation" data-processing-sources="/blog/pde/Triangulation.pde">
            <p>Your browser does not support the canvas tag.</p>
            <!-- Note: you can put any alternative content here. -->
        </canvas>
        <noscript>
            <p>JavaScript is required to view the contents of this page.</p>
        </noscript>
</div>
